.about-container {
  padding: 60px 80px;
}

.about-image-section {
  display: flex;
  justify-content: center;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-section {
  text-align: left;
  padding: 50px;
}

.font-effect-outline {
  font-size: 48px;
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 40px;
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.about-button {
  background-color: #782a8c;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #782a8c;
}

.about-button:hover {
  background-color: white;
  color: #782a8c;
  border-color: 1px solid #782a8c;
}

/* Responsive styles */
@media (max-width: 991px) {
  .about-text-section {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about-titleee {
    font-size: 1.8rem;
  }

  .about-subtitle {
    font-size: 1.2rem;
  }

  .about-description {
    font-size: 0.9rem;
  }

  .about-button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
