.custom-quiz-section {
  padding: 40px;
  background-color: #f8f9fa;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

.custom-col-md-6 {
  flex: 1;
}

.custom-font-outline {
  font-size: 2.5rem;
  color: #343a40;
}

.custom-quiz-subheading {
  font-size: 1.5rem;
  color: #6c757d;
}

.custom-about-button {
  background-color: #782a8c;
  border: 1px solid #782a8c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-about-button:hover {
  background-color: white;
  color: #782a8c;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.custom-modal-header {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  border-bottom: 1px solid #dee2e6;
}

.custom-modal-header h5 {
  margin: 0;
}

.custom-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.custom-modal-body {
  margin-top: 20px;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.custom-modal-close-btn {
  background-color: #782a8c;
  border: 1px solid #782a8c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-modal-close-btn:hover {
  background-color: white;
  color: #782a8c;
}
