.forget-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  padding: 20px;
}

.forget-password-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forget-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forget-password-input {
  width: 90%;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.forget-password-input:focus {
  border-color: #782a8c;
}

.forget-password-button {
  background-color: #782a8c;
  color: white;
  padding: 10px 20px;
  border: 1px solid #782a8c;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.forget-password-button:hover {
  background-color: white;
  color: #782a8c;
}

@media screen and (min-width: 768px) {
  .forget-password-input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .forget-password-input {
    width: 100%;
  }
}
