.containerre {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 50px;
}

@media (max-width: 989px) {
  .containerre {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .containerre {
    width: 90%;
  }
}

@media (max-width: 1250px) {
  .containerre {
    width: 90%;
  }
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.faq-question {
  background-color: #37af6c;
  color: white;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.open {
  max-height: 500px;
  padding: 15px;
}
.FAQ-imagesection {
  background-image: url("https://www.secrets4exams.com/frontend/images/medical_banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.blackbackFaq {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-content {
  position: relative;
  z-index: 1;
  margin-left: 50px;
  color: white;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin: 10px 0 0;
}
